.order-page {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;

&__content{
   width: 100%;
  }
  &__cart-status{
   padding: 80px;
    padding-left: 10px;
  }
  &__left {

  }

  &__right {

  }

  &__total-price {
color: white;
    font-weight: bold;
    text-transform: lowercase;
  }
  @media (max-width: 575.98px) {

  }
}

